<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="index.html"></a>
    </nav>
    <form action="">
        <h1>Victor's Blog</h1>
        <label for="title">Title</label><br>
        <textarea name="topic" id="title">{{ .Topic }}</textarea><br><br>
        <label>Content</label><br>
        <textarea name="content">{{ .Content }}</textarea><br>
        
        <button class="edit">Edit post</button>
    </form>
</body>
</html>