<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        *{
            text-align: center;
        }
        body{
            background-color: antiquewhite;
        }
        a{
            text-decoration: none;
        }
        button{
            font-size: 20px;
            border-radius: 20px;
            margin-right: 10px;
        }
        h1{
            font-size: 45px;
        }
        .element{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

<h1>Decadev's Lounge</h1>
<button><a href="newpost">Create Post</a></button><br>
<div>
    {{range $i, $v:= .}}
        {{if $v.State}}
    <div>
        <h3 style="font-size: 30px">{{ .Topic }}</h3><br>
        <p style="font-size: 30px">
            {{ .Content }}<br>

        <div class="element">
            <div><button><a href="update/{{ .Id }}">Edit</a></button></div>
            <br>
        <div><button><a href="delete/{{ .Id }}">Delete</a></button></div>
        </div>
    </div>
        </p>

    </div>
    {{end}}
    {{end}}

</div>

</body>
</html>