<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        *{
            text-align: center;
        }
        input{
            font-size: 25px;
        }
        body{
            background-color: antiquewhite;
        }
        a{
            text-decoration: none;
        }
        button{
            font-size: 20px;
            border-radius: 20px;
            margin: 20px 0 0 10px;
            cursor: pointer;
        }
        h1{
            font-size: 55px;
        }
    </style>
</head>
<body>

<form method="post">
    <h1>Decadev's Lounge</h1>
    <label for="topic" style="font-size: 20px" ><strong>Topic</strong></label><br>
    <input type="text" id="topic" name="topic" required><br>
    <label for="content" style="font-size: 20px"><strong>Content</strong></label><br>
    <input type="text" id="content" name="content" required>
    <div>
        <button type="submit">Create Post</button>
        <button><a href="/">Home Page</a></button>
    </div>

</form>

</body>
</html>